<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989926603372-64sb4qf3lrhoe2i7ceaej22nofk61br6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989926603372-64sb4qf3lrhoe2i7ceaej22nofk61br6</string>
	<key>API_KEY</key>
	<string>AIzaSyBW_06VkCpTAo4DRIFvdQ7ekMBQIwcLwk8</string>
	<key>GCM_SENDER_ID</key>
	<string>989926603372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.evenhub</string>
	<key>PROJECT_ID</key>
	<string>eventapp-1cfef</string>
	<key>STORAGE_BUCKET</key>
	<string>eventapp-1cfef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989926603372:ios:efc42de8f265c90798f649</string>
</dict>
</plist>